.section {
  position: relative;
  
  &__content {
    margin: 0 auto;
    padding: 3rem 1.5rem;
    position: relative;
    z-index: 10;

    @include respond(phone) {
      width: 54rem;
      padding: 3rem 3rem;
    }

    @include respond(medium) {
      width: 72rem;
      padding: 3rem 0;
    }

    @include respond(tab-port) {
      width: 96rem;
      padding: 3rem;
    }

    @include respond(tab-land) {
      min-width: 117rem;
    }
  }
  &__grey {
    background: var(--color-white-dark);
  }
}
